@import "tailwindcss";
@import "tw-animate-css";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* background-color: #242424; */
  background-color: white;
  color: #4b5563;
}

.p-tabview-panels {
  padding-left: 0;
  padding-right: 0;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}